@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Yuji+Mai&display=swap');
* {
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

/*          header             */

.div-nav{
    background-color: rgb(255, 250, 244);
}
.hr-header{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25%;
    width: 50%;
    height: 3px;
    background-color: gray;
}
.imagen-logo{
    height: 14rem;
    width: 15rem;
    margin-left: 43%;
}
.div-link-list {
    display: flex;
    justify-content: center;
    
    
}
.link-header{
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(36, 36, 250);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
}




/*          header             */
/*          carrusel           */


.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgb(255, 243, 243),
                0 10px 35px;
    position: relative;            
}
.slider{
    display: flex;
    height: 400px;
    width: 400%;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{background-color: #fff;}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
    
}

/*          carrusel           */
/*          form               */

.div-form{
    background-image: url(imagenes/comic-book-shop.jpg);
    width: 100%;
    height: 50rem;
    background-size: auto;
    object-fit: cover   ;
    padding-top: 100px;

}
.form{
    background-color: rgba(255, 255, 255, 0.5) ;
    width: 350px;
    text-align: center;
    margin-left: 35%;
    padding: 3rem 0 3rem 0;

}


/*          form               */
/*          revistas           */
.section-revistas{
    background-color:rgb(240, 243, 243) ;
    padding-top: 8rem;
}

.div-revistas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    margin-left: 7rem;
    margin-right: 7rem;
    
}
    

.div-ole , .div-billboard , .div-elgrafico, .div-forbes , .div-gente , .div-muyinteresante {
    background-color:rgb(243, 247, 247);
    padding: 2rem;
    box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    
}
.div-ole:hover , .div-billboard:hover  , .div-elgrafico:hover , .div-forbes:hover  , .div-gente:hover  , .div-muyinteresante:hover{
    filter: brightness(0.9) drop-shadow(1px 1px 20px black);

}
.div-elementos {
   
    display: grid;
    grid-template-columns: 12rem ;
    grid-template-rows: 1rem 1rem 1rem;
    
}
.select {
    width: 2rem;
    margin-top: 1rem;
}
.button {
    width: 5rem;
    margin-left: 7rem;
    
}

/*          revistas           */
/*          footer             */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #0494c4;
    border-bottom: 2px solid rgb(2, 143, 199);
    border-top: 2px solid rgb(2, 143, 199);
    height: 100%;
    
}
.div-imagen-footer1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.footer__div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px;
}



.imagen-footer1 {
    height: 10rem;
    width: 10rem;
    padding-bottom: 20px;
}

.footer__link{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.h2-redes {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}


.link-redes-ul {
    display: flex;
    flex-direction: column;
}



.linkFooter {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.3rem;
    
}


.whatsapp {
    height: 2rem;
    
}
.facebook {
    height: 2rem;
}
.footer__historia {
    color: whitesmoke;
    font-size: 15px;
    font-style: italic;
    font-style: bold;
    width: 30rem;
    line-height: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}   
.historia__h2 {
    color: rgb(8, 7, 8);
    font-size: 1.3rem;
    padding-bottom: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}   



.divLinea {
    border-left: 1px solid whitesmoke;
    top: 6rem;
    display: flex;
}




.footer__informacion{
font-size: 1rem;
color: rgb(247, 243, 231);
display: flex;
flex-direction: column;
align-items: flex-start;
}

.imagen-ubicacion {
height: 2rem;
}
.imagen-telefono {
height: 2rem;
}

.imagen-mail {
height: 2rem;
}
.imagen-horario {
height: 2rem;
}

.p-copy {
color: white;
display: flex;
align-items: center;
justify-content: center;
}
